:root {
  --primary-color: #3498db;
  --secondary-color: #95a5a6;
  
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  
  --background-color: #f7f9fc;
  --background-light: #ffffff;
  --background-alternate: #f8f8f8;
  
  --text-dark: #333;
  --text-light: #666;
  
  --border-light: #ddd;
  --border-dark: #333;
  
  --shadow: rgba(0, 0, 0, 0.1);
}
